<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
        <%- include('layouts/sub_header'); -%>
            <body>
                <h1 style="text-align: center; padding-top: 5px;">Select Recipe to add a version</h1>
                <body id="page-top">
                    <div id="table_body">
                        <div class="container-xl">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Image</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var recipe of recipes){ if(recipe.recipeMain){ %>
                                            <tr>
                                                <td>
                                                    <%= recipe.recipetitle %>
                                                </td>
                                                <td><img src="uploads/<%=recipe.recipeimage%>"
                                                        alt="<%=recipe.recipeimage%>"
                                                        style="width:350px; height: 225px;"></td>
                                                <td><a href="/addversion/<%=recipe._id %>">Select Version</a></td>
                                            </tr>
                                            <% } } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </body>
            </body>
            <%- include('layouts/footer'); -%>